.languages {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.language-item {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 1rem;
    width: 20rem;
    justify-content: space-between;
}

.language-wrapper {
    display: flex;
    min-width: 6rem;
    max-width: 6rem;
}

.language-span {
    display: flex;
}

.level-wrapper {
    display: flex;
    min-width: 16rem;
    max-width: 16rem;
}

.level-span {
    display: flex;
}