/*.skills-and-technologies-item {*/
/*    display: inline-flex;*/
/*    gap: 4rem;*/
/*}*/

/*.skills-and-technologies-definition {*/
/*}*/

/*.skills-and-technologies-element {*/
/*}*/

.skills-and-technologies-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.skills-and-technologies-definition {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.skills-and-technologies-elements {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

.skills-and-technologies-element {
    background-color: #f0f0f0;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    box-shadow: 2px 3px var(--very-dark-gray);
}
