.lingo-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.grid-item {
    background-color: var(--teal-blue);
    border: 2px solid var(--very-light-gray-darker);
    color: var(--very-light-gray-darker);
    padding: 1px;
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
    font-weight: bold;
}

.letter-in-right-place {
    background-color: var(--earthy-red);
}

.misplaced-letter {
    background-color: var(--mustard-yellow);
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

