.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    max-width: 20rem;
    min-height: 70rem;
    max-height: 70rem;
    background-color: var(--deep-reddish-burgundy);
    box-shadow: 5px 7px var(--very-dark-gray);
    padding-top: 4rem;
    padding-left: 6rem;
    padding-right: 2rem;
    gap: 1rem;
}

.sidebar a {
    color: var(--very-light-gray);
    font-size: 1.4rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 0.5rem 0;
}

.sidebar a:hover {
    color: var(--very-light-gray-dark);
    transform: translateX(3px);
}
