.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20%;
}

.portrait {
    display: flex;
    align-self: flex-start;
    width: 40%;
    margin: 1rem
}

.about-me-description {
    display: flex;
    height: 50%;
    width: 40%;
    margin: 1rem
}